{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}

<div class="table-responsive">
  <div class="table table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="align-top" scope="col" width="10">Id</th>
                <th class="align-top" scope="col" width="50">Titulo</th>
                <th class="align-top" scope="col" width="50">Numero</th>
                <th class="align-top" scope="col" width="200">Descrição</th>
                <th class="align-top" scope="col" width="10">Porta</th>
                <th class="align-top" scope="col" >Imagem</th>
            </tr>
        </thead>
        <tbody>
        {% for cat in home %}
           <tr>
                <td class="align-baseline" width="10" height="10">{{cat.id}}</td>
                <td class="align-baseline" width="50" height="50">{{cat.titulo}}</td>
                <td class="align-baseline" width="50" height="50">{{cat.numero}}</td>
                <td class="align-baseline" width="200" height="200">{{cat.descricao}}</td>
                <td class="align-baseline" width="10" height="10">{{cat.portas}}</td>
                <td class="align-baseline" width="300" height="300">
                    <a href="{{ cat.image.url }}" target="_blank">
                        <img src="{{ cat.image.url }}" alt="" class="img-fluid" style="height: 300px; object-fit: cover;">
                    </a>
                </td>
            </tr>
        {% endfor %} 
        </tbody>
    </table>
  </div>

  <nav aria-label="Page navigation example">
    {% if is_paginated %}
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }}</span></li>
            {% else %}
                {% if forloop.counter <= 3 %}
                    <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if page_obj.paginator.num_pages > 3 %}
            <li><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a></li>
        {% endif %}
    </ul>
    {% endif %}
  </nav>
</div>

{% endblock %}
